{% extends 'base.html'%}


{% block page_content%}


<div class="container">

  <div class="row">
  <div class="col s9 offset-s1">

  <div class="card">
      <div class="card-content black-text">
        <span class="card-title">Encrypt Data</span>
        <div class="row">

         <form class="col s12" method='POST' action='/dump/{{identity}}'>
             {{form.csrf_token}}
         <div class="row">
            <div class="input-field col s12 black-text">
              {{form.password.label}}
              {{form.password}}
            </div>
          </div>
          <div class="row">
            <input type="submit" value="Decrypt" class="btn grey darken-4">
          </div>
      </form>
        </div>
        </div>
      </div>

      <button class="btn red accent-3" id="copy-button" data-clipboard-text="http://localhost:5000/dump/{{identity}}">
                    Copy Link
        </button>
  </div>
</div>
<br><br>
</div>




{% endblock %}
