{% extends 'base.html'%}


{% block page_content%}

<div class="container">
    <div class="row">

      <form method='POST' action='/dump/{{identity}}'>
        {{form.csrf_token}}
        <div class="col s12">
         <div class="row">
            <div class="input-field col s6 black-text">
              {{form.password.label}}
              {{form.password}}
            </div>
          </div>
          <div class="row">
            <input type="submit" value="Decrypt" class="btn grey darken-4">
          </div>
        </div>
      </form>
        <button class="btn grey darken-4" id="copy-button" data-clipboard-text="http://localhost:5000/dump/{{identity}}">
                    Copy Link
        </button>
    </div>
</div>

{% endblock %}
