{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block page_content %}

<div class='container'>

  <div class="row">
    <div class="col s12">
      <div class="card grey lighten-5 z-depth-2">
        <div class="card-content white-text">

          <form method="POST" action='/encrypt'>
            {{form.csrf_token}}

            <div class="row">
              <div class="input-field black-text">
                {{form.dump.label}}
                {{form.dump(class='materialize-textarea black-text')}}
              </div>
            </div>

            <div class="row">
              <div class="input-field col s6 black-text">
                {{form.password.label}}
                {{form.password}}
              </div>

              <div class="input-field col s6">
                <input value="Submit" type="submit" class="btn grey darken-4">
              </div>

            </div>

          </form>

        </div>
      </div>
    </div>
  </div>





</div>
{% endblock %}
